{
    "presets": [[
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "targets": {
            "esmodules": true,
            "ie": 11
          }
        }
    ]],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}